@model MonsterApp.Context.Monster

@{
    ViewData["Title"] = "MonsterDetails";
}

<h2>Monster Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Health)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Health)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Attack)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Attack)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Defense)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Defense)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MonsterId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
